<h1><%=@recipe.title %></h1>
<p>Chef: L Robinson</p>
<p>The method for this recipe is:</p>
<p><%=h @recipe.method %></p>
<p><%= link_to "Edit Recipe", edit_recipe_path %> | <%= link_to "Recipes", recipes_path %> </p>
<p><%= link_to "Delete Recipe", @recipe,:confirm => "Are you sure?", :method => :delete %></p>
